.footer {
    position: relative;
    top: 390px;
    background:black;
    color: aliceblue;
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
    height: 200px;
    width: 100%;
    
}